* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 100%, 50%);
}

body {
  min-height: 100vh;
  font-size: 22px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 0%);
  display: grid;
  place-content: center;
}
